<th:block th:replace="~{/Fragments/head :: head}"></th:block>
<body>
  <th:block th:replace="~{/Fragments/top :: navbar}"></th:block>

    <section>
        <div class="container" style="width: 60%; padding-bottom: 30px;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">List</li>
                </ol>
              </nav>
              
            <div class="card shadow -sm bg-white rounded" style="margin-top: 20px;" th:each="post : ${posts}">
                <div class="card-body">
                  <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                    <span th:text="${post.autor}"></span>
                    <span th:text="${post.data}"></span>

                  </p>
                  <a a th:href="@{${'/posts/' + post.id}}">
                    <h4 class="card-title" style="font-weight: bold; color:black; padding-top: 5px;">
                    <span th:text="${post.titulo}"></span>

                  </h4></a>
                  <p class="card-text">
                    <span th:utext="${#strings.abbreviate(post.texto, 100)}"></span>
                  </p>
                </div>
              </div>

        </div>

    </section>



</body>

</html>